@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: white; /* 흰색 배경 */
  border: 1px solid #ccc; /* 테두리 */
  padding: 8px 12px; /* 여백 */
  color: black; /* 글자색 */
  opacity: 1; /* 투명도 설정 */
}
